*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: .7rem/1.5 'Merriweather', serif, Helvetica, 'Century Gothic';
  color: #2d3944;
  background-color: #D3DDDC;
  min-height: 100vh;
}

h2 {
  font-weight: 300;
  color: #7c7c7c;
  margin-top: 0;
  font-size: 1.25em;
}

#title {
  background-color: #2d3944;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

#title {
  margin: 0;
  padding: 1em;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

form {
  max-width: 600px;
  margin: auto;
  margin-top: 0;
  padding: 0 20px 12px;
  background: #D3DDDC;
}

 #signup {
 text-align: center;
 border-bottom: 4px solid #2d3944;
 padding: .75em .5em 1.5em;
 position: relative;
 margin-bottom: 2em;
}

#signup::before {
 content: "";
 position: absolute;
 width: 100%;
 border-bottom: 2px solid #2d3944;
 top: -8px;
 bottom: -9px;
 left: 0px;
 right: -8px;
}

#signup h1 {
  margin-bottom: .25em;
}

fieldset {
  border: none;
}

label {
  font-size: 1.25em;
  padding-bottom: 12px;
  color: #7c7c7c;
  font-weight: 300;
  display: inline-block;
}

legend {
  font-size: 1.5em;
  font-weight: bold;
  padding-bottom: 1.3em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 8px;
  display: block;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #ededed;
  color: #8a97a0;
  margin-bottom: 22px;
  border:2px solid transparent; /* compensates for focus border */
  transition: all .25s ease-out;
}

input[type="number"] {
  width: 50%;
}

input:focus,
select:focus {
    border: 2px solid #2d3944;
    background-color: #fff;
}

textarea:focus {
    border: 2px solid #2d3944;
    background-color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="email"]:invalid:focus {
  background: #fff;
  background-image: url(../images/close.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 98.3% 53%;
  transition: background-color .25s ease-out;
}

input[type="email"]:valid {
  background: #ededed;
  background-image: url(../images/green.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 98.3% 53%;
}

select {
  height: 50px;
}

select:focus {
    border: 2px solid #2d3944;
}

::-webkit-input-placeholder {
  text-align: right;
  font-style: italic;
  font-weight: lighter;
  color: #bfbdbd;
  font-size: .75em;
  padding-right: 1.5em;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 1em;
}

#contact-info {
  border-bottom: 2px solid #2d3944;
  margin: 0 0 1.5em 0;
  padding: 0;
}

.flex-container {
  padding-bottom: 1em;
}

#newsletter-signup {
  margin: 0;
  padding: 0;
}

#newsletter-signup legend {
  padding-bottom: 1em;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 15px 8px 0;
  padding-top: 10px;
  background-color: #fff;
}

#format,
#other {
  padding-top: .75em;
}

#other_topics {
  margin-top: 1em;
  margin-bottom: 2em;
  height: 100px;
  resize: none;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #83AF9B;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #6b9658;
  margin-bottom: 10px;
  transition: background-color .25s ease-out;
}

button:hover {
    background-color:#6b9658;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
}

footer {
  color: #8a97a0;
  text-align: center;
  font-style: italic;
  /* padding-top: 1em; */
  margin-top: 0;
  padding-bottom: 2.75em;
  background-color: #D3DDDC;
}

@media(min-width: 768px) {
  body {
    background-color: #fff;
  }

  #signup {
    padding-top: 2em;
    margin-bottom: 3.5em;
  }

  #contact-info {
      margin-bottom: 2em;
  }

  form {
    max-width: 600px;
    margin: 10px auto;
    margin-top: 2em;
    border-radius: .2em;
    border: solid 1px #fff;
    box-shadow: 0 1px 14px rgba(0,0,0, .12);
  }

  .flex-container{
    padding-top: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
  }

  .field-name {
    flex-basis: 25%;
    padding-bottom: 0;
  }

  .field {
    flex-basis: 75%;
  }

  footer {
    background-color: #fff;
    padding-top: 1.75em;
  }
}
